.landing-page {
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}
  
.CSS {
    width: 100%;
    max-width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    text-align: center;
    margin: 0 auto;
}
  
.hero-section {
    text-align: center;
    width: 200%;
}
  
.features-overview, .featured-events{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}
.how-it-works{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}
  
.features-grid, .steps {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    width: 100%;
}
  
.features-grid .feature-card, .steps .step, .event-card {
    margin: 10px ;

}
  
.icon {
    font-size: 3rem;
    margin-bottom: 15px;
}
  
.cta-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: transparent;
    border: solid;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
}
  
.footer-cta .cta-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: black;
    background-color: #fff;
    border: solid;
    border-radius: 25px;
    cursor: pointer;
    
}

.card-icon{
    font-size: 30px;
}

.next{
    font-size: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20%;
    left: 30%;
    margin: 0;

}

.Lh1{
    margin-top: 70px;
}

.limg{
    width: 525px;
    margin-inline: 150px;
}