.landing-page {
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}
  
.CSS {
    max-width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 44, 156, 0.4);
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    text-align: center;
    margin: 5px;
}
  
.lan{
    display: flex;
    justify-content: center;
}
.features-gri{
    display: flex;
}
.cta-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: #ff2c9c;
    background-color: transparent;
    border: solid;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    transition-duration: 0.4s;
}
.cta-button:hover {
    background-color: #ff2c9c;
    opacity: 01;
    color: #fff;

    .landButton{
        color: #fff;
        opacity: 1;
    }
}
  
.footer-cta .cta-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: black;
    background-color: #fff;
    border: solid;
    border-radius: 25px;
    cursor: pointer;
    
}


.card-icon{
    font-size: 30px;
}

.next{
    font-size: 200px;
    display: flex;
    justify-content: center;
    color : #ff2c9c;
}

.Lh1{
    margin-top: 70px;
}

.limg{
    width: 525px;
    margin-inline: 150px;
}

.eventsyLandingH {
    color : #ff2c9c;
}

.landButton{
    color : #fff;
}
