
.about-me {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(30px);
  color: #fff;
  border-radius: 10px;
  padding: 30px;
  width: 70%;
  height: auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color : #fff;
}

.AUmain {
  display: flex;
  justify-content: center;
  margin-inline: 5%;

}
@media (max-width: 768px){
  .AUmain{
    flex-direction: column;
  }
  .about-me{
    width: 100%;
  }
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 2px;
  border: 2px solid rgba(255, 255, 255, .2);
}


.info h2 {
  margin: 0 0 10px;
}

.info p {
  margin: 0 0 10px;
}

.social-links a {
  color: #fff;
  margin: 0 8px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #ff2c9c;
}

.about-eventsy {
  text-align: left;
  padding: 200;
  color: #fff;
  margin : 5%;
}