.listmain{
    padding-inline: 15rem;
}

@media (max-width: 1000px){
    .listmain{
        padding-inline: 0rem;
    }
}

.create{
    display: flex;
    justify-content: center;
    background: transparent;
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.event-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 20px;
}

.event-card{
    width: auto;
    background: transparent;
    border: 2px solid rgba(255, 44, 156, 0.4);
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 10px;
    padding: 2rem;
}

.event-card:hover{
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition-duration: 0.2s;
    background-color: rgba(255, 255, 255, 0.05);
}

.priceTag{
    background: rgba(255, 255, 255, 1);
    color: #ff2c9c;
    border-radius: 5px;
    margin: 5px;
    width: 100px;
    text-align: center;
    border: solid;
}

.cardh23{
    margin-bottom: 3px;
}

.plus{
    font-size: 100px;
    text-align: center;
}

.plusDiv{
    background: transparent;
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    margin-left: 200px;
    margin-top: 40px;
}

.plusDiv:hover{
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition-duration: 0.3s;
}
.Discover{
    border: 2px solid rgba(255, 44, 156, .4);
    cursor: pointer;
    padding-left: 4px;
    border-radius: 25px;
    width: 210px;
    bottom : 1px;
}
.Discover{
    border: 2px solid rgba(255, 44, 156, .5);
    cursor: pointer;
    padding-left: 4px;
    border-radius: 20px;
    width: 210px;
    bottom : 2px;
    font-size: 20px;
    background: transparent;
}
.Discover:hover{
    box-shadow: 0 4px 10px rgba(0,0,0, 0.5);
    border: 2px solid rgba(255, 44, 156, 1);
    color: rgba(255, 255, 255, 1);
}
.Discover2{
    font-size: 20px;
    margin: 15px;
    border-radius: 10px;
    padding: 8px;
    border: 2px solid;
    background: #ff2c9c;
    color: white;
}
.Discover2:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    opacity: 1;
    color: #ff2c9c;
}
.details{
    width: 70%;
    background: transparent;
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 15px;
    font-size: 20px;
    margin-inline: auto;
}
.EBanner{
    border-radius: 20px;
    width: 65vw;
    height: 40vh;
}
@media (max-width: 786px){
    .EBanner{
        width: 90vw;
        height: 17vh;
        margin-bottom: 5%;
    }
    .details{
        margin-inline: 0;
        width: 40vh;
    }
}

.iconD{
    font-size: 25px;
    margin-right: 10px;
    position: relative;
    top : 5px;
    color: #ff2c9c;

}

.color {

    color: #ff2c9c;
}

.input-boxF{
    position: relative;
    background: transparent;
    outline: none;
    color : white;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 25px;
}

.input-boxF::placeholder{
    color: white;
}


.form{
    display: flex;
    justify-content: center;
}

.form-button {
    padding: 5px 10px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    border: solid;
    background-color: #ff2c9c;
    color: #fff;
    
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    transition-duration: 0.4s;
    margin-left: 20px;
}
.form-button:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #ff2c9c;

    .landButton{
        color: #fff;
        opacity: 1;
    }
}
